# Database PostgreSQL dari Prisma Postgres / Neon / Supabase / Railway / Vercel Marketplace
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require"

# Jangan pakai NEXT_PUBLIC untuk secret ini
ADMIN_EMAIL="isi_email_admin"
ADMIN_PASSWORD="isi_password_admin"
VIP_CODE="isi_kode_vip"
SESSION_SECRET="ganti_dengan_random_string_panjang_minimal_32_karakter"

# Dari Vercel Blob storage, otomatis tersedia jika Blob store dihubungkan ke project
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_token"
